body {
  font-family: Roboto;
  color: #fff;
  background: #000;
}
/*прилипающий footer*/
html,
body,
.wrap {
  height: 100%;
}
body > .wrap {
  height: auto;
  min-height: 100%;
}
.main {
  padding-bottom: 110px;
  /* отступ должен быть равен высоте футера */
}
footer {
  position: relative;
  clear: both;
  height: 90px;
  margin-top: -110px;
  /* отрицательное значение высоты футера */
}
/*конец стилей для прилипающего footer'а*/
header {
  font-size: 36px;
  height: 63px;
  padding: 10px;
  text-align: center;
  background: rgba(79, 79, 79, 0.6);
  -webkit-box-shadow: inset 0 40px 2px rgba(255, 255, 255, 0.03);
  -moz-box-shadow: inset 0 40px 2px rgba(255, 255, 255, 0.03);
  box-shadow: inset 0 40px 2px rgba(255, 255, 255, 0.03);
}
header .logo {
  font-weight: 300;
  line-height: 63px;
}
header .logo-button {
  font-weight: 700;
  padding: 5px;
  color: #f00;
  border-radius: 8px / 15px;
  background: #fff;
  -webkit-box-shadow: inset 0 -10px 10px #cccccc;
  -moz-box-shadow: inset 0 -10px 10px #cccccc;
  box-shadow: inset 0 -10px 10px #cccccc;
}
header .ageLimit {
  font-size: 26px;
  line-height: 63px;
  display: inline-block;
  float: left;
  width: 64px;
  height: 63px;
  background: url(../img/age-bg.png);
}
.player {
  width: 100%;
  min-width: 320px;
  min-height: 480px;
  max-width: 640px;
  margin: 0 auto;
  background: url(../img/player-content.png), rgba(0, 0, 0, 0.6);
  background-size: cover;
}
.player-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}
footer {
  font-size: 24px;
  padding: 10px;
  color: #a1a4a4;
  background: #322f2f;
}
footer input {
  display: none;
}
footer label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}
footer input:checked + label {
  background: #ffffff url(../img/check.png) no-repeat 0 50%;
  background-size: contain;
}
