body {
  font-family: Roboto;
  color: #fff;
  background: #000;
}
/*прилипающий footer*/
html,
body,
.wrap {
  height: 100%;
}
body > .wrap {
  height: auto;
  min-height: 100%;
}
.main {
  padding-bottom: 110px;
  /* отступ должен быть равен высоте футера */

}
footer {
  position: relative;
  clear: both;
  height: 90px;
  margin-top: -110px;
  /* отрицательное значение высоты футера */

}
/*конец стилей для прилипающего footer'а*/
header {
  font-size: 36px;
  height: 63px;
  padding: 10px;
  text-align: center;
  background: rgba(79, 79, 79, 0.6);
  -webkit-box-shadow: inset 0 40px 2px rgba(255, 255, 255, 0.03);
  -moz-box-shadow: inset 0 40px 2px rgba(255, 255, 255, 0.03);
  box-shadow: inset 0 40px 2px rgba(255, 255, 255, 0.03);
}
header .logo {
  font-weight: 300;
  line-height: 63px;
}
header .logo-button {
  font-weight: 700;
  padding: 5px;
  color: #f00;
  border-radius: 8px / 15px;
  background: #fff;
  -webkit-box-shadow: inset 0 -10px 10px #cccccc;
  -moz-box-shadow: inset 0 -10px 10px #cccccc;
  box-shadow: inset 0 -10px 10px #cccccc;
}
header .ageLimit {
  font-size: 26px;
  line-height: 63px;
  display: inline-block;
  float: left;
  width: 64px;
  height: 63px;
  background: url(../img/age-bg.png);
}
.player {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  min-height: 480px;
  margin: 0 auto;
  background: url(../img/player-content.png);
  background-size: cover;
}
.player-header {
  position: absolute;
  z-index: 9;
  right: 0;
  left: 0;
  padding: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0.3+100 */

  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.3) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0.3)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.3) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0.3) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.3) 100%);
  /* W3C */

}
.player-header_title {
  font-size: 30px;
  line-height: 64px;
  margin-left: 20px;
}
.player-header_time {
  display: inline-block;
  float: right;
  width: 47px;
  height: 47px;
  margin: 10px;
  cursor: pointer;
  background: url(../img/time.png) no-repeat;
}
.player-header_share {
  display: inline-block;
  float: right;
  width: 47px;
  height: 47px;
  margin: 10px;
  cursor: pointer;
  background: url(../img/share.png) no-repeat;
}
.player-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.6);
}
.player-content_wrap {
  margin: auto;
  text-align: center;
}
.player-content_on {
  font-size: 60px;
  position: relative;
  padding: 40px 120px 40px 50px;
  cursor: pointer;
  border-radius: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+51,000000+100&0+0,0+51,0.4+100 */

  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #ff002a;
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(51%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.4))), #ff002a;
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #ff002a;
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #ff002a;
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #ff002a;
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #ff002a;
  /* W3C */

}
.player-content_on:after {
  position: absolute;
  top: 25px;
  right: 25px;
  display: inline-block;
  width: 84px;
  height: 94px;
  content: '';
  background-image: url(../img/play-big.png);
  background-repeat: no-repeat;
}
.player-content_on.disabled {
  cursor: default;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+51,000000+100&0+0,0+51,0.4+100 */

  background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #666666;
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(30, 87, 153, 0)), color-stop(51%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.4))), #666666;
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #666666;
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #666666;
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #666666;
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.4) 100%), #666666;
  /* W3C */

}
.player-content_views {
  font-size: 24px;
  margin: 20px 0 40px;
  text-align: center;
  color: #bababa;
}
.player-content_off {
  font-size: 28px;
  font-weight: 300;
  display: inline-block;
  padding: 7px 15px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.5);
}
.player-control {
  position: absolute;
  right: 0;
  bottom: 110px;
  left: 0;
  padding-bottom: 20px;
  background-color: #000;
}
.player-control_progress {
  position: relative;
  display: inline-block;
  width: 99%;
  height: 5px;
  margin: 0 .5%;
  margin-bottom: 20px;
  border-radius: 2px;
  background: #626262;
}
.player-control_progress:before {
  position: absolute;
  display: inline-block;
  width: 25%;
  height: 5px;
  content: '';
  border-radius: 2px;
  background: #e60820;
}
.player-control_on {
  display: inline-block;
  width: 40px;
  height: 43px;
  margin: 0 20px;
  background: url(../img/play.png) no-repeat;
}
.player-control_volume {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin: 0 20px;
  background: url(../img/volume.png) no-repeat;
}
.player-control_time {
  font-size: 24px;
  display: inline-block;
  vertical-align: super;
  color: #bababa;
}
.player-control_time__active {
  color: #fff;
}
.player-control_fullscreen {
  display: inline-block;
  float: right;
  width: 55px;
  height: 44px;
  margin-right: 20px;
  background: url(../img/fullscreen.png) no-repeat;
}
footer {
  font-size: 24px;
  padding: 10px;
  color: #a1a4a4;
  background: #322f2f;
}
footer input:checked + label {
  background: #ffffff url(../img/check.png) no-repeat 0 50%;
  background-size: contain;
}
footer input {
  display: none;
}
footer label {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 2px solid #000;
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
}
